/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Mar-2019, 15:38:01
    Author     : franc
*/

.current{

    background-color: whitesmoke;
    border-radius: 10px;
}

body{
    background-color: #f9fbfb;
}

.bg-light {
    background-color: white!important;
}

.nav-item{
    color: #00cc00;
}
navbar-light .navbar-nav .nav-link{
    color: #00cc00 !important;
}

.navbar-brand img{
    width: 80px;
    height: 50px;
    position: absolute;
}

.navbar-brand h1 {
    color: #00cc00;
    margin-left: 110px;
    font-size: 30px;
}

.container{
    background-color: white;
}


.jumbotron{
    background-image: url(../images/index.jpg);
    background-size: cover;
}


.jumbotron2 {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}

@media (min-width: 576px) {
    .jumbotron2 {
        padding: 0.5rem 2rem;
    }
}

.jumbotron2-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 0;

}

.jumbotron2{
    /*    background-image: url(../images/index.jpg);*/
    background-color: #f9fbfb;
    background-size: cover;
    max-height:  100px;

}

table {
    border: 1px solid #e9ecef;
    border-collapse: collapse;
    margin-bottom: 1em;
}

th, h2, h1{
    color: #00cc00;

}


.page_lead{
    position: absolute;
    margin-top: -4.5em;
    left: 32em;

}

#edit{
    background-color: white;
    color: #00cc00;
    border: none;
    cursor: pointer;
}

#delete{
    background-color: white;
    color: #00cc00;
    border: none;
    cursor: pointer;
}

.row{
    margin-left: 2.5em;
}

label{
    width: 20em;
}






#message {
    display:none;
    background: #f9fbfb;
    color: #171818;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    height: 230px;
}

#message p {
    padding: 2px ;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;

}


.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;

}


.invalid {
    color: #171818;
}

.invalid:before {
    position: relative;
    left: -35px;

}

#letter{
    margin-top: 0;
}

#capital{
    margin-top: 0.1em;  
}

#number{
    margin-top: 0.2em;
}

#length{
    margin-top: 0.3em;
}

#error{
    margin-top: 20em;
    color: red;
    position: absolute;
    margin-left: 25em;
}

#success{
    color: green;
    margin-top: 25.5em;
    position: absolute;
    margin-left: 25em;
}

#reg_error{
    color: red;
    margin-top: 25.5em;
    position: absolute;
    margin-left: 25em;
}

#but_logout{
    border: none;
    background-color: white;
    color: #00cc00;
    margin-top: 0.5em;
    cursor: pointer;
}

#back_login{
    border: none;
    background-color: white;
    cursor: pointer;
}

.table_cat{
    width: 25em;
}

#modal_pic img{
    width: 47em;
    height: 17em;
}



/*.login_welcome{
    margin-top: 10em;
    left: 0;
    height: 100px;
    width: 100px;
    background-color: pink;
}*/


 @keyframes spin {
	0% {
		transform: rotate(0deg) translate(-50%);
	}
	100% {
		transform: rotate(360deg) translate(-50%);
	}
}

.loader {
	.center;
	animation: spin 0.35s infinite linear;
	border: 2px solid #707070;
	border-radius: 50%;
	border-top-color: white;
	height: 25px;
	transform-origin: left;
	top: 45%;
	width: 25px;
}

.hidden-input {
	left: -999px;
	position: absolute;
}

.profile {
	.clear;
        .center;
	background-color: white;
	border-radius: 2px;
	display: block;
	float: none;
	margin: 10px auto;
	overflow: hidden;
	padding-bottom: 20px;
	width: 400px;
}

.about {
	.sans-serif(12px);
	color: @light-grey;
	line-height: 17px;
}

.image-wrapper {
	background: rgba(0, 0, 0, 0.2);
	bottom: -50px;
	height: 50px;
	left: 0;
	position: absolute;
	transition: bottom 0.15s linear;
	width: 100%;
}

.edit {
	.h-align;
	color: white;
	cursor: pointer;
	font-size: 22px;
	top: 10px;
}

.cover {
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 100%;
	img {
		.h-align(absolute);
		height: 300px;
	}
	.image-wrapper {
		bottom: auto;
		height: 45px;
		left: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 45px;
	}
}

.name {
	.sans-serif(18px);
}

.profile-pic {
    margin-left: 8em;
	.h-align(absolute);
	border-radius: 50%;
	border: 4px solid white;
	height: 210px;
	overflow: hidden;
	transform: translateX(-50%) translateY(-50%);
	width: 210px;
	top: 0;        
	img {
		box-sizing: border-box;
		height: 100%;
		max-height: 100%;
		position: absolute;
		transform: translateX(-50%);
		transition: all 0.15s ease-out;
		width: auto;
	}
	&:hover .image-wrapper {
		bottom: 0;
	}
}

.username {
	margin-top: 0px;
	text-align: center;
}

.user-info {
	.clear;
	padding: 2px;
	position: relative;
}

 
.panel, .flip {
    
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
   .center
	.h-align(absolute);
	border-radius: 50%;
	border: 4px thin black;
	height: 40px;
	overflow: hidden;
	transform: translateX(-50%) translateY(-50%);
	width: 40px;
	top: 0;
        
        
}



.panel {
  padding: 50px;
  display: none;
  box-sizing: border-box;

		transform: translateX(-50%);
		transition: all ;
		width: auto;
                border: 4px solid white;
}

.panel2, .flip2 {
    
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
   .center
	.h-align(absolute);
	border-radius: 50%;
	border: 4px thin black;
	height: 40px;
	overflow: hidden;
	transform: translateX(-50%) translateY(-50%);
	width: 40px;
	top: 0;
        
        



.panel2 {
  padding: 50px;
  display: none;
  box-sizing: border-box;

		transform: translateX(-50%);
		transition: all ;
		width: auto;
                border: 4px solid white;
}

.panel3, .flip3 {
    
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
   .center
	.h-align(absolute);
	border-radius: 50%;
	border: 4px thin black;
	height: 40px;
	overflow: hidden;
	transform: translateX(-50%) translateY(-50%);
	width: 40px;
	top: 0;
        
        
}


.panel3 {
  padding: 50px;
  display: none;
  box-sizing: border-box;

		transform: translateX(-50%);
		transition: all ;
		width: auto;
                border: 4px solid white;
}

// global stuff
body {
	background-color: #202020;
}

.container {
	margin: 40px auto 50px;
	max-width: 960px;
}

// mixins
@sans-serif: Helvetica,
"Helvetica Neue",
"Tahoma";
@grey: #7a7a7a;
@light-grey: lighten(@grey, 20%);

.sans-serif(@font-size) {
	font-family: @sans-serif;
	font-size: @font-size;
}

.center (@position: absolute) {
	position: @position;
	left: 50%;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.clear() {
	*zoom: 1;
	&:before,
	&:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.h-align(@position: relative) {
	position: @position;
	left: 50%;
	transform: translateX(-50%);
}

.layer {
	background-color: rgba(0, 0, 0, 0.25);
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	
	&.visible {
		display: block;
	}

