/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Mar-2019, 15:38:01
    Author     : franc
*/

.current{
    
    background-color: whitesmoke;
    border-radius: 10px;
}

body{
    background-color: pink;
}

.bg-light {
    background-color: white!important;
}

/*.nav-item{
    color: #00cc00;
}*/

.navbar-light .navbar-nav .nav-link{
    color: #00cc00 !important;
}

.navbar-brand img{
    width: 80px;
    height: 50px;
    position: absolute;
}

.navbar-brand h1 {
    color: #00cc00;
    margin-left: 110px;
    font-size: 30px;
}

.container{
    background-color: white;
}





.hidden-input {
	left: -999px;
	position: absolute;
}

.profile {
	.clear;
        .center;
	background-color: white;
	border-radius: 2px;
	display: block;
	float: none;
        margin-top: -16em;
        margin-left: 18em;
        margin-bottom: 16em;
/*	margin: 10px auto;*/
	overflow: hidden;
	padding-bottom: 20px;
	width: 400px;
        
        
}

.about {
	.sans-serif(12px);
	color: grey;
	line-height: 17px;
}

.image-wrapper {
	background: rgba(0, 0, 0, 0.2);
	bottom: -50px;
	height: 50px;
	left: 0;
	position: absolute;
	transition: bottom 0.15s linear;
	width: 100%;
}

.edit {
	.h-align;
	color: white;
	cursor: pointer;
	font-size: 22px;
	top: 10px;
}

.cover {
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 100%;
	img {
		.h-align(absolute);
		height: 300px;
	}
	.image-wrapper {
		bottom: auto;
		height: 45px;
		left: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 45px;
	}
}

.name {
	.sans-serif(18px);
}

.profile-pic {
    margin-left: 8em;
	.h-align(absolute);
	border-radius: 50%;
	border: 4px solid white;
	height: 210px;
	overflow: hidden;
	transform: translateX(-50%) translateY(-50%);
	width: 210px;
	top: 0;        
	img {
		box-sizing: border-box;
		height: 100%;
		max-height: 100%;
		position: absolute;
		transform: translateX(-50%);
		transition: all 0.15s ease-out;
		width: auto;
	}
	&:hover .image-wrapper {
		bottom: 0;
	}
}

.username {
	margin-top: 0px;
	text-align: center;
}

.user-info {
	.clear;
	padding: 2px;
	position: relative;
}

 
.verticalSlider
{
    margin-left: 20em;
    margin-bottom: 20em;
    margin-top: -15em;
}

.panel, .flip {
    
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
   .center
	.h-align(absolute);
	border-radius: 50%;
	border: 4px thin black;
	height: 40px;
	overflow: hidden;
	transform: translateX(-50%) translateY(-50%);
	width: 40px;
	top: 0;
        
        
}


.panel {
  padding: 50px;
  display: none;
  box-sizing: border-box;
   margin-left: 50%;            
		transform: translateX(-50%);
		transition: all ;
		width: auto;
                border: 4px solid white;
}

.panel2, .flip2 {
    
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
   .center
	.h-align(absolute);
	border-radius: 50%;
	border: 4px thin black;
	height: 40px;
	overflow: hidden;
	transform: translateX(-50%) translateY(-50%);
	width: 40px;
	top: 0;
        
        
}


.panel2 {
  padding: 50px;
  display: none;
  box-sizing: border-box;
    margin-left: 50%; 
		transform: translateX(-50%);
		transition: all ;
		width: auto;
                border: 4px solid white;
}

.panel3, .flip3 {
    
  padding: 5px;
  text-align: center;
  background-color: white;
  border: solid 1px #c3c3c3;
   .center
	.h-align(absolute);
	border-radius: 50%;
	border: 4px thin black;
	height: 40px;
	overflow: hidden;
	transform: translateX(-50%) translateY(-50%);
	width: 40px;
	top: 0;
        
        
}


.panel3 {
  padding: 50px;
  display: none;
  box-sizing: border-box;
    margin-left: 50%;
		transform: translateX(-50%);
		transition: all ;
		width: auto;
                border: 4px solid white;
}

.box
{
    margin-top: 20em;
    margin-left: -15em;
}
.box2
{
    margin-left: 15em;
    margin-top: -38.5em;
   
}
.box3
{
    margin-left: 48em;
    margin-top: -38.5em;
   
}



